<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Профиль</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/zephyr/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&amp;display=swap">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="static/assets/css/styles.min.css">
</head>

<body style="background: var(--bs-gray-100);">
    <!-- Окно редактирования информации профиля -->
    <div class="modal fade" role="dialog" tabindex="-1" id="modal-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Редактирование профиля</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="main_info_edit" class="text-center" style="padding: 32px;">
                        <h5>Основная информация</h5>
                        <input class="form-control" type="text" placeholder="Имя" name="name" value="Абоба" style="margin-bottom: 4px;margin-top: 4px;" required="" minlength="1" id="name_edit">
                        <input class="form-control" type="text" placeholder="Фамилия" name="surname" style="margin-bottom: 4px;margin-top: 4px;" required="" minlength="1" id="surname_edit">
                        <input class="form-control" type="text" placeholder="Описание" name="description" style="margin-bottom: 4px;margin-top: 4px;" required="" id="description_edit">
                        <p class="d-none" style="color: var(--bs-red);text-align: center;" id="main_info_error">Произошла ошибка. Проверьте данные</p>
                        <p class="d-none" style="color: var(--bs-green);text-align: center;" id="main_info_success">Данные успешно обновлены, перезагрузите страницу</p>
                        <button class="btn btn-primary" type="submit" id="main_info_submit">Сохранить</button>
                    </form>
                    <script>
                        let main_info_edit = document.querySelector("#main_info_edit");
                        let name_edit = document.querySelector("#name_edit");
                        let surname_edit = document.querySelector("#surname_edit");
                        let description_edit = document.querySelector("#description_edit");
                        let main_info_error = document.querySelector("#main_info_error");
                        let main_info_success = document.querySelector("#main_info_success");

                        async function submit_main_info(event){
                            event.preventDefault();
                            let req = await fetch("/me", {
                                method: 'POST',
                                credentials: 'include',
                                body: JSON.stringify(
                                    {
                                        type: "main_info_edit",
                                        name: name_edit.value.trim(),
                                        surname: surname_edit.value.trim(),
                                        description: description_edit.value.trim()
                                    }
                                )
                            })
                            let response = await req.json();
                            if (response.hasOwnProperty("error")) {
                                main_info_success.classList.add("d-none");
                                main_info_error.classList.remove("d-none");
                            }
                            else {
                                main_info_error.classList.add("d-none");
                                main_info_success.classList.remove("d-none");
                            }
                        }
                        main_info_edit.onsubmit = submit_main_info;
                    </script>
                    <form id="pass_update" class="text-center" style="padding: 32px;">
                        <h5>Смена пароля</h5>
                        <input class="form-control" type="password" placeholder="Текущий пароль" name="password" style="margin-top: 4px;margin-bottom: 4px;" minlength="8" required="" id="password1">
                        <input class="form-control" type="password" placeholder="Новый пароль" name="new_password" style="margin-top: 4px;margin-bottom: 4px;" required="" minlength="8" id="password2">
                        <p id="pass_update_error" class="d-none" style="color: var(--bs-red);text-align: center;">Произошла ошибка</p>
                        <p id="pass_update_success" class="d-none" style="color: var(--bs-green);text-align: center;">Пароль успешно обновлён</p>
                        <button class="btn btn-primary" type="submit">Сохранить</button>
                    </form>
                    <script>
                        let pass_update = document.querySelector("#pass_update");
                        let password1 = document.querySelector("#password1");
                        let password2 = document.querySelector("#password2");
                        let pass_update_error = document.querySelector("#pass_update_error");
                        let pass_update_success = document.querySelector("#pass_update_success");

                        async function submit_main_info(event){
                            event.preventDefault();

                            let req = await fetch("/me", {
                                method: 'POST',
                                credentials: 'include',
                                body: JSON.stringify(
                                    {
                                        type: "pass_update",
                                        password_current: password1.value.trim(),
                                        password_new: password2.value.trim(),
                                    }
                                )
                            })
                            let response = await req.json();
                            if (response.hasOwnProperty("error") && response["error"] === "password") {
                                pass_update_success.classList.add("d-none");
                                pass_update_error.classList.remove("d-none");
                                pass_update_error.innerHTML = "Неверный пароль";
                            }
                            else if (response.hasOwnProperty("error")) {
                                pass_update_success.classList.add("d-none");
                                pass_update_error.classList.remove("d-none");
                                pass_update_error.innerHTML = "Произошла ошибка. Проверьте корректность заполнения полей";
                            }
                            else {
                                pass_update_error.classList.add("d-none");
                                pass_update_success.classList.remove("d-none");
                            }
                        }
                        pass_update.onsubmit = submit_main_info;
                    </script>
                    <form id="photo_profile_update" class="text-center" style="padding: 32px;">
                        <h5>Фотография профиля (.png/.jpg)</h5>
                        <input id="photo_profile_file" class="form-control" type="file" required="" accept="image/*">
                        <p id="photo_profile_error" class="d-none" style="color: var(--bs-red);text-align: center;">Ошибка: произошла непредвиденная ошибка; проверьте, что объём вашей фотографии не превышает 4 МБ</p>
                        <p id="photo_profile_success" class="d-none" style="color: var(--bs-green);text-align: center;">Фотография профиля успешно обновлена</p>
                        <button class="btn btn-primary" type="submit">Сохранить</button>
                    </form>
                    <script>
                        function getBase64(file) {
                            let reader = new FileReader();
                            reader.readAsDataURL(file);
                            reader.onload = function () {
                                return reader.result;
                            };
                            reader.onerror = function (error) {
                                console.log('Error: ', error);
                            };
                            return "";
                        }
                        let photo_profile_update = document.querySelector("#photo_profile_update");
                        let photo_profile_file = document.querySelector("#photo_profile_file");
                        let photo_profile_error = document.querySelector("#photo_profile_error");
                        let photo_profile_success = document.querySelector("#photo_profile_success");

                        async function submit_main_info(event){
                            event.preventDefault();

                            let coded_photo = getBase64(photo_profile_file.files[0]);
                            if (coded_photo === ""){
                                photo_profile_error.classList.remove("d-none");
                                return;
                            }
                            let req = await fetch("/me", {
                                method: 'POST',
                                credentials: 'include',
                                body: JSON.stringify(
                                    {
                                        type: "profile_photo_update",
                                        photo: coded_photo,
                                    }
                                )
                            })
                            let response = await req.json();
                            if (response.hasOwnProperty("error")) {
                                photo_profile_success.classList.add("d-none");
                                photo_profile_error.classList.remove("d-none");
                            }
                            else {
                                photo_profile_error.classList.add("d-none");
                                photo_profile_success.classList.remove("d-none");
                            }
                        }
                        photo_profile_update.onsubmit = submit_main_info;
                    </script>
                    <form style="padding: 32px;">
                        <h5>Двухэтапная аутентификация</h5>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="tfaCheck" name="tfa">
                            <label class="form-check-label" for="tfaCheck" id="tfaCheckText">Выключено</label>
                        </div>
                        <small class="form-text">Отсканируйте код через Google Auth, иначе вы не сможете войти!</small>
                        <div id="tfa_pic"></div>
                    </form>
                    <script>
                        let tfa_check = document.querySelector("#tfaCheck");
                        let tfa_check_text = document.querySelector("#tfaCheckText");
                        async function toggle_tfa(){
                            let req = await fetch("/me", {
                                method: 'POST',
                                credentials: 'include',
                                body: JSON.stringify(
                                    {
                                        "type": "tfa_toggle",
                                        "check": tfa_check.checked
                                    }
                                )
                            })
                            let response = await req.json();
                            if (response["toggle"]){
                                tfa_check.checked = true;
                                tfa_check_text.innerHTML = "Включено";
                            }
                            else {
                                tfa_check.checked = false;
                                tfa_check_text.innerHTML = "Выключено";
                            }
                        }
                        tfa_check.onclick = toggle_tfa;
                    </script>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-light" type="button" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 26px;">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3 offset-xxl-0">
                <div class="vstack gap-1 shadow-lg" style="background: var(--bs-white);border-radius: 12px;padding: 20px;margin: 6px;">
                    <div>
                        <a class="btn btn-primary" role="button" style="width: 100%;" href="/profile">
                            <i class="fas fa-user"></i>&nbsp;Профиль
                        </a>
                    </div>
                    <div>
                        <a class="btn btn-primary text-truncate" role="button" style="width: 100%;" href="/chat">
                            <i class="fas fa-comment"></i>&nbsp;Сообщения&nbsp;<span id="msg_count" class="badge rounded-pill bg-primary d-none">0</span>
                        </a>
                    </div>
                    <div>
                        <a class="btn btn-primary" role="button" style="width: 100%;" href="/people"> <i class="fas fa-users"></i>&nbsp;Люди</a>
                    </div>
                    <div>
                        <a class="btn btn-primary" role="button" style="width: 100%;" href="/friends"> <i class="fas fa-smile"></i>&nbsp;Друзья</a>
                    </div>
                    <div><a class="btn btn-danger" role="button" style="width: 100%;" href="/exit">Выйти</a></div>
                </div>
            </div>
            <div class="col-12 col-md-8 col-lg-7 col-xl-7 offset-lg-1 offset-xl-1">
                <div class="shadow-lg" style="border-radius: 12px;padding: 20px;background: var(--bs-white);margin: 6px;">
                    <div class="d-flex">
                        <img id="profile_pic" class="rounded-circle" src="" style="max-width: 20%;width: 20%;height: 20%;max-height: 20%;">
                        <div>
                            <h1 id="user_name" class="text-break" style="margin-bottom: 0px;padding-top: 6px;padding-left: 6px;"></h1>
                            <p id="user_login" style="margin-bottom: 0px;padding-left: 6px;padding-bottom: 6px;">@</p>
                            <p style="margin-bottom: 0px;padding-left: 6px;padding-bottom: 6px;">
                                <button id="friends" class="btn btn-light btn-sm disabled" type="button" data-bs-target="#modal-2" data-bs-toggle="modal">1 друг</button>
                            </p>
                            <p id="description" style="margin-bottom: 0px;padding-left: 6px;padding-bottom: 6px;"></p>
                            <button class="btn btn-primary" type="button" data-bs-target="#modal-1" data-bs-toggle="modal"><i class="fas fa-pen"></i>&nbsp;Редактировать профиль</button>
                        </div>
                    </div>
                    <!--
                    <form style="margin-top: 12px;">
                        <textarea class="form-control" placeholder="Напишите свой пост здесь..." name="post_text"></textarea>
                        <div class="d-flex" style="margin-top: 4px;">
                            <input class="form-control" type="file" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="bottom" name="picture" title="Прикрепите картинку (опционально)" accept="image/*">
                            <button class="btn btn-primary" type="button" style="margin-left: 4px;">Запостить</button>
                        </div>
                    </form>
                    -->
                    <div style="margin-top: 12px;">
                        <h3>Публикации</h3>
                        <h3 style="color: var(--bs-gray-700);">Здесь пока пусто</h3>
                        <!-- <div class="vstack">
                            <div class="card shadow-none" style="margin-top: 4px;margin-bottom: 4px;">
                                <div class="card-body">
                                    <h6 class="text-muted card-subtitle mb-2">5 июня 2022
                                        <button class="btn btn-light" type="button"
                                                style="margin-left: 4px;padding: 2px;"><i class="fas fa-pen"></i>&nbsp;Редактировать
                                        </button>
                                        <button class="btn btn-danger" type="button"
                                                style="margin-left: 4px;padding: 2px;"><i class="fas fa-times"></i>&nbsp;Удалить
                                        </button>
                                    </h6>
                                    <p class="card-text">Сегодня превосходное утро!</p>
                                    <form><input class="form-control" type="hidden" name="post_id" value="2"></form>
                                    <img class="img-fluid" src="assets/img/image.jpg">
                                    <div class="d-flex align-items-center" style="margin-top: 6px;">
                                        <button class="btn btn-primary border rounded-pill border-0" type="button"><i
                                                class="fas fa-thumbs-up" style="font-size: 18px;"></i></button>
                                        <button class="btn btn-primary disabled border rounded-pill border-0"
                                                type="button" disabled=""><i class="fas fa-thumbs-up"
                                                                             style="font-size: 18px;"></i></button>
                                        <p style="margin-bottom: 0px;padding-left: 8px;">17 лайков</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card shadow-none" style="margin-top: 4px;margin-bottom: 4px;">
                                <div class="card-body">
                                    <h6 class="text-muted card-subtitle mb-2">5 июня 2022
                                        <button class="btn btn-success" type="button"
                                                style="margin-left: 4px;padding: 2px;"><i class="fas fa-check"></i>&nbsp;Сохранить
                                        </button>
                                    </h6>
                                    <form><input class="form-control" type="hidden" name="post_id" value="2"><textarea
                                            class="form-control" name="post_text"
                                            placeholder="Напишите свой пост здесь...">Сегодня превосходное утро!</textarea>
                                    </form>
                                    <img class="img-fluid" src="assets/img/image.jpg">
                                    <div class="d-flex align-items-center" style="margin-top: 6px;">
                                        <button class="btn btn-primary border rounded-pill border-0" type="button"><i
                                                class="fas fa-thumbs-up" style="font-size: 18px;"></i></button>
                                        <button class="btn btn-primary disabled border rounded-pill border-0"
                                                type="button" disabled=""><i class="fas fa-thumbs-up"
                                                                             style="font-size: 18px;"></i></button>
                                        <p style="margin-bottom: 0px;padding-left: 8px;">17 лайков</p>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
    <!-- Получение информации -->
    <script>
        async function k() {
            let req = await fetch("/my_info", {
                method: 'GET',
                credentials: 'include'
            });
            if (req.redirected) {
                window.location.href = req.url;
            }
            let response = await req.json();
            let qrcode = new QRCode(document.getElementById("tfa_pic"), {
                text: "otpauth://totp/SOCIAL_LAB?secret=" + response["tfa_secret"],
                colorDark: "#5868bf",
                colorLight: "#ffffff",
                correctLevel: QRCode.CorrectLevel.H
            });
            if (response["tfa_on"]){
                tfa_check.checked = true;
                tfa_check_text.innerHTML = "Включено";
            }
            else {
                tfa_check.checked = false;
                tfa_check_text.innerHTML = "Выключено";
            }
            name_edit.value = response["name"];
            surname_edit.value = response["surname"];
            description_edit.value = response["description"];
            document.querySelector("#user_name").innerHTML = response["name"] + " " + response["surname"];
            document.querySelector("#user_login").innerHTML += response["login"];
            document.querySelector("#description").innerHTML = response["description"];
            document.querySelector("#profile_pic").src = response["picture"];
            if (response["friends"].length % 10 === 1 && response["friends"].length % 100 !== 11) {
                document.querySelector("#friends").innerHTML = response["friends"].length + " друг";
            } else if (response["friends"].length % 10 in [2, 3, 4] && !(response["friends"].length % 100 in [12, 13, 14])) {
                document.querySelector("#friends").innerHTML = response["friends"].length + " друга";
            } else {
                document.querySelector("#friends").innerHTML = response["friends"].length + " друзей";
            }
            if (response["unread_msgs"] === 0) {
                document.querySelector("#msg_count").classList.add("d-none");
            } else {
                document.querySelector("#msg_count").classList.remove("d-none");
                document.querySelector("#msg_count").innerHTML = response["unread_msgs"];
            }
        }
        k();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="static/assets/js/script.min.js"></script>
</body>

</html>