<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Профиль</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/zephyr/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&amp;display=swap">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="static/assets/css/styles.min.css">
</head>

<body style="background: var(--bs-gray-100);">
    <script>
        function get_cookie(name){
            let cookie = {};
            document.cookie.split(';').forEach(function (el){
                let [k, v] = el.split("=");
                cookie[k.trim()] = v;
            });
            return cookie[name];
        }
    </script>

    <!-- Окно с друзьями -->
    <div class="modal fade" role="dialog" tabindex="-1" id="modal-2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Друзья</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="friends_window" class="vstack gap-1">

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container" style="margin-top: 26px;">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3 offset-xxl-0">
                <div class="vstack gap-1 shadow-lg" style="background: var(--bs-white);border-radius: 12px;padding: 20px;margin: 6px;">
                    <div>
                        <a class="btn btn-primary" role="button" style="width: 100%;" href="/me">
                            <i class="fas fa-user"></i>&nbsp;Профиль
                        </a>
                    </div>
                    <div>
                        <a class="btn btn-primary text-truncate" role="button" style="width: 100%;" href="/chat">
                            <i class="fas fa-comment"></i>&nbsp;Сообщения&nbsp;<span id="msg_count" class="badge rounded-pill bg-primary d-none">0</span>
                        </a>
                    </div>
                    <div>
                        <a class="btn btn-primary" role="button" style="width: 100%;" href="/people"> <i class="fas fa-users"></i>&nbsp;Люди</a>
                    </div>
                    <div>
                        <a class="btn btn-primary" role="button" style="width: 100%;" href="/friends"> <i class="fas fa-smile"></i>&nbsp;Друзья</a>
                    </div>
                    <div>
                        <a class="btn btn-danger" role="button" style="width: 100%;" href="/exit">Выйти</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8 col-lg-7 col-xl-7 offset-lg-1 offset-xl-1">
                <div class="shadow-lg" style="border-radius: 12px;padding: 20px;background: var(--bs-white);margin: 6px;">
                    <div class="d-flex">
                        <div id="profile_pic" class="border rounded-circle" overflow="hidden" style="height: 200px;min-height: 200px;width: 200px;min-width: 200px;"></div>
                        <div>
                            <h1 id="user_name" class="text-break" style="margin-bottom: 0px;padding-top: 6px;padding-left: 6px;"></h1>
                            <p id="user_login" style="margin-bottom: 0px;padding-left: 6px;padding-bottom: 6px;">@</p>
                            <p style="margin-bottom: 0px;padding-left: 6px;padding-bottom: 6px;">
                                <button id="friends" class="btn btn-light btn-sm" type="button" data-bs-target="#modal-2" data-bs-toggle="modal"></button>
                            </p>
                            <p id="description" style="margin-bottom: 0px;padding-left: 6px;padding-bottom: 6px;"></p>
                            <div class="btn-group" role="group">
                                <button id="add_friend_btn" class="btn btn-primary d-none" type="button">Добавить в друзья</button>
                                <button id="remove_friend_btn" class="btn btn-primary d-none" type="button">Удалить из друзей</button>
                                <button id="add_blacklist_btn" class="btn btn-danger d-none" type="button">Добавить в чёрный список</button>
                                <button id="remove_blacklist_btn" class="btn btn-danger d-none" type="button">Убрать из чёрного списка</button>
                                <button id="send_mdr_btn" class="btn btn-danger" type="button">Отправить жалобу</button>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 12px;">
                        <h3>Публикации</h3>
                        <h3 style="color: var(--bs-gray-700);">Здесь пока пусто</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
    <!-- Получение информации -->
    <script>
        async function k(){
            let add_friend_btn = document.querySelector("#add_friend_btn"),
                remove_friend_btn = document.querySelector("#remove_friend_btn"),
                add_blacklist_btn = document.querySelector("#add_blacklist_btn"),
                remove_blacklist_btn = document.querySelector("#remove_blacklist_btn"),
                send_mdr_btn = document.querySelector("#send_mdr_btn");

            // информация о пользователе
            let req = await fetch("/info"+get_cookie("user_id"), {
                method: 'GET',
                credentials: 'include'
            });
            if (req.redirected) {
                window.location.href = req.url;
            }
            let response = await req.json();
            // друзья пользователя
            let user_friends = response["friends"];
            // айди пользователя
            let user_id = response["id"];
            document.querySelector("#user_name").innerHTML = response["name"] + " " + response["surname"];
            document.querySelector("#user_login").innerHTML = response["login"]
            document.querySelector("#description").innerHTML = response["description"];
            document.querySelector("#profile_pic").style.setProperty("background", `url('${response["picture"]}') center / cover`);
            if (response["friends"].length % 10 === 1 && response["friends"].length % 100 !== 11) {
                document.querySelector("#friends").innerHTML = response["friends"].length + " друг";
            } else if (response["friends"].length % 10 in [2, 3, 4] && !(response["friends"].length % 100 in [12, 13, 14])) {
                document.querySelector("#friends").innerHTML = response["friends"].length + " друга";
            } else {
                document.querySelector("#friends").innerHTML = response["friends"].length + " друзей";
            }
            // Информация о клиенте
            req = await fetch("/my_info", {
                method: 'GET',
                credentials: 'include'
            });
            if (req.redirected) {
                window.location.href = req.url;
            }
            response = await req.json();
            if (response["unread_msgs"] === 0) {
                document.querySelector("#msg_count").classList.add("d-none");
            } else {
                document.querySelector("#msg_count").classList.remove("d-none");
                document.querySelector("#msg_count").innerHTML = response["unread_msgs"];
            }
            // жалоба подана
            if (response["moderates"].includes(user_id)){
                send_mdr_btn.classList.add("disabled");
            }
            // в чс
            if (response["blacklist"].includes(user_id)){
                remove_blacklist_btn.classList.remove("d-none");
            }
            else {
                add_blacklist_btn.classList.remove("d-none");
                // друг
                if (response["friends"].includes(user_id)){
                    remove_friend_btn.classList.remove("d-none");
                }
                else{
                    add_friend_btn.classList.remove("d-none");
                }
            }
            add_friend_btn.onclick = async function (event){
                req = await fetch("/friend", {
                    method: 'POST',
                    credentials: 'include',
                    body: JSON.stringify({
                        "method": "add",
                        "user_id": user_id
                    })
                })
                response = await req.json();
                if (response.hasOwnProperty("success")) location.reload();
            }
            send_mdr_btn.onclick = async function (event){
                req = await fetch("/add_moderation", {
                    method: 'POST',
                    credentials: 'include',
                    body: JSON.stringify({
                        "user_id": user_id
                    })
                })
                response = await req.json();
                if (response.hasOwnProperty("success")) location.reload();
            }
            remove_friend_btn.onclick = async function (event){
                req = await fetch("/friend", {
                    method: 'POST',
                    credentials: 'include',
                    body: JSON.stringify({
                        "method": "remove",
                        "user_id": user_id
                    })
                })
                response = await req.json();
                if (response.hasOwnProperty("success")) location.reload();
            }
            add_blacklist_btn.onclick = async function (event){
                req = await fetch("/blacklist", {
                    method: 'POST',
                    credentials: 'include',
                    body: JSON.stringify({
                        "method": "add",
                        "user_id": user_id
                    })
                })
                response = await req.json();
                if (response.hasOwnProperty("success")) location.reload();
            }
            remove_blacklist_btn.onclick = async function (event){
                req = await fetch("/blacklist", {
                    method: 'POST',
                    credentials: 'include',
                    body: JSON.stringify({
                        "method": "remove",
                        "user_id": user_id
                    })
                })
                response = await req.json();
                if (response.hasOwnProperty("success")) location.reload();
            }
            let friends_window = document.querySelector("#friends_window");
            async function add_friend_btn_f(id){
                let rq = await fetch("/friend", {
                    method: 'POST',
                    credentials: 'include',
                    body: JSON.stringify({
                        "method": "add",
                        "user_id": id
                    })
                });
                let r = await rq.json();
                if(r.hasOwnProperty("success")){
                    document.querySelector(`#add_friend_btn_f${id}`).classList.add("d-none");
                    document.querySelector(`#rem_friend_btn_f${id}`).classList.remove("d-none");
                }
            }
            async function rem_friend_btn_f(id){
                let rq = await fetch("/friend", {
                    method: 'POST',
                    credentials: 'include',
                    body: JSON.stringify({
                        "method": "remove",
                        "user_id": id
                    })
                });
                let r = await rq.json();
                if(r.hasOwnProperty("success")){
                    document.querySelector(`#add_friend_btn_f${id}`).classList.remove("d-none");
                    document.querySelector(`#rem_friend_btn_f${id}`).classList.add("d-none");
                }
            }
            for (const elem of user_friends) {
                let req_ = await fetch("/info"+elem, {
                    method: 'GET',
                    credentials: 'include'
                });
                let response_ = await req_.json();

                let div1 = document.createElement("div");
                div1.innerHTML = `
                <div class="d-flex align-items-center" style="max-width: 100%">
                <div class="border rounded-circle" overflow="hidden" style="background: url('${response_["picture"]}') center / cover;height: 80px;min-width: 80px;width: 80px;min-height: 80px;"></div>
                <div class="d-flex flex-column" style="max-width: 80%;width: 80%;padding: 6px;">
                    <a class="text-truncate" href="/profile${response_['id']}" style="margin-bottom: -3px;">
                        <span style="color: rgb(73, 80, 87);">${response_["name"]} ${response_["surname"]}</span><br>
                    </a>
                     <p class="text-truncate" style="margin-bottom: 4px;font-size: 13px;color: var(--bs-blue);">@${response_['login']}</p>
                     <div id="btn_group${response_["id"]}" class="btn-group" role="group"></div></div></div>`;
                friends_window.appendChild(div1);
                let btn_group = document.createElement("button");
                btn_group.id = `rem_friend_btn_f${response_["id"]}`;
                btn_group.className = "btn btn-danger d-none";
                btn_group.setAttribute("data-bs-toggle", "tooltip");
                btn_group.setAttribute("data-bss-tooltip", "");
                btn_group.setAttribute("data-bs-placement", "bottom");
                btn_group.setAttribute("type", "button");
                btn_group.setAttribute("title", "Удалить из друзей");
                btn_group.style.setProperty("padding", "0px");
                btn_group.innerHTML = "<i class=\"fas fa-user-times\"></i>";
                btn_group.onclick = async function(){
                    rem_friend_btn_f(response_["id"]);
                }
                document.querySelector(`#btn_group${response_["id"]}`).appendChild(btn_group);

                let btn_group_ = document.createElement("button");
                btn_group_.id = `add_friend_btn_f${response_["id"]}`;
                btn_group_.className = "btn btn-primary d-none";
                btn_group_.setAttribute("data-bs-toggle", "tooltip");
                btn_group_.setAttribute("data-bss-tooltip", "");
                btn_group_.setAttribute("data-bs-placement", "bottom");
                btn_group_.setAttribute("type", "button");
                btn_group_.setAttribute("title", "Добавить в друзья");
                btn_group_.style.setProperty("padding", "0px");
                btn_group_.innerHTML = "<i class=\"fas fa-user-plus\"></i>";
                btn_group_.onclick = async function(){
                    add_friend_btn_f(response_["id"]);
                }
                document.querySelector(`#btn_group${response_["id"]}`).appendChild(btn_group_);
                if(response["friends"].includes(response_["id"])){
                    document.querySelector(`#rem_friend_btn_f${response_["id"]}`).classList.remove("d-none");
                }
                else{
                    document.querySelector(`#add_friend_btn_f${response_["id"]}`).classList.remove("d-none");
                }
            }
        }
        k();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="static/assets/js/script.min.js"></script>
</body>

</html>